<head>
  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
  <link rel="stylesheet" href="/styles.css">

	<img src="http://s18.postimg.org/61z0hpf7t/logo.png">
</head>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<div class="nav"> 
	<div class="container">
		<ul class="nav nav-pills pull-left">
  		<li><a href="/products">Home</a></li>
  		<li><a href="/products/new/">Add New Product</a></li>
  		<li><a href="/sessions/new/">Log In</a></li>
  		<li><a href="/users/new/">Sign Up</a></li>
  	</ul>
	</div>
	</div>


  <div class="jumbotron">
    <div class="container">
      <h1>Outstanding New Novels </h1>
      <p>From mystery & suspense to drama & romance, there's best sellers for every category</p>
      <a href="#">View Products</a>
      </div>
    </div> 